<div class="container-fluid text-center">
  <div class="container">
    <div class="row">
        <!--START-->
        <% blogs.forEach(function(Blog){ %>
          <a href="/blog/technieken/<%= Blog._id %>" class="col-lg-4 p-4" id="blog-div-hide" style="display:none">
            <img src="<%=Blog.thumbTech%>" alt="<%=Blog.seoTech%>"onload="this.parentNode.style.display = 'inline'" class="img-fluid">
          <h2 class="pt-2"><%=Blog.titleTech %></h2>
          <p class="date"><%=Blog.dateTech%></p>
          <p class="date"><%=Blog.descTech%></p>
          </a>
        <!--</div>-->
        </a>
        <% }); %>
        <!--END-->
      </div>
    </div>
</div>
