<div class="container-fluid text-center">
  <div class="container">
        <!--START-->
        <% blogs.forEach(function(Blog){ %>
        <a href="/blog/technieken/<%= Blog._id%>">
        <div class="row">
        <div class="col-lg-6 p-4" id="blog-div-hide" style="display:none">
            <img src="<%=Blog.thumbTech%>" onload="this.parentNode.style.display = 'inline'" class="img-fluid">
            </div>
            <div class="col-lg-6">
          <h2 class="pt-2"><%=Blog.titleTech %></h2>
          <p class="date"><%=Blog.dateTech%></p>
          <p class="date"><%=Blog.descTech%></p>
        </div>
        </div>
        </a>
        <% }); %>
        <!--END-->
      </div>
  </div>