<% include partials/header %>
<title> Meditatie.co | Meditatie is voor iedereen! </title>
<% include partials/nav %>
<div class="container-fluid p-0 text-dark" id="login">
    <h1 class="p-5 mt-5 text-center">Nieuwe post toevoegen aan Boeken</h1>
    <hr>
 <form action="/blogs/home/<%Blog._id%>?_method=PUT" method="POST">
 <div class="container-fluid m-0 row p-5" id="form newblog">
     <div class="col-lg-6">
    <div class="form-group">
    <label for="exampleFormControlInput1">Titel voor pagina</label>
    <input type="text" class="form-control f1" name="title" id="exampleFormControlInput1" value="<%=Blog.title%>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Beschrijving</label>
    <input type="text" class="form-control f1" name="desc" id="exampleFormControlInput1" value="<%=Blog.desc%>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Datum</label>
    <input type="text" class="form-control f1" name="date" id="exampleFormControlInput1" value="<%=Blog.date%>">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Thumbnail (350px +)</label>
    <input type="text" class="form-control f1" name="thumb" id="exampleFormControlInput1" value="<%=Blog.thumb%>">
  </div>
     <div class="form-group">
    <label for="exampleFormControlInput1">Video</label>
    <input type="text" class="form-control f1" name="banner" id="exampleFormControlInput1" value="<%=Blog.banner%>">
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><%=Blog.content%></label>
    <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="7.5" placeholder=""></textarea>
  </div>
    <button class=" btn btn-outline-dark m-auto" type="submit" >Posten! &rarr;</button>
    </div>
    
    </div>
        </form>
</div>

<% include partials/footer %>    
