<% include partials/header-blog %>
<title> Meditatie.co | Meditatie is voor iedereen! | Blog </title>
<% include partials/nav-blog %>
<div class="container-fluid text-center pt-5">
  <div class="container">
    <div class="row">
        <% blogs.forEach(function(Blog){ %>
            <a href="/blog/Geleide-meditaties/<%=Blog._id%>">
        <div class="col-lg-4 p-4" id="blog-div-hide" style="display:none">
            <img src="<%=Blog.thumbGuide%>" onload="this.parentNode.style.display = 'inline'" class="img-fluid">
            <h2 class="pt-2"><%=Blog.titleGuide %></h2>
            <p class="date"><%=Blog.dateGuide%></p>
            <p class="date"><%=Blog.descGuide%></p>
        </div>
        </a>
        <% }); %>
      </div>
  </div>
</div>
<% include partials/footer %>
