<% include partials/header-blog-show %>
<title> Meditatie . co |  Blog over mediteren voor iedereen | <%= Blog.titleSpot %></title>
<% include partials/nav-blog-show %>
<div class="container-fluid" id="blog-main" style="
  background:url('<%=Blog.bannerSpot%>');
; background-size:cover; background-position:center;">
">
</div>
<div class="col-md-6 text-center mx-auto pt-5">
  <h2 class="blog-title"><%=Blog.titleSpot%></h2>
  <h6 class="date"> &mdash; <%=Blog.dateSpot%></h6>
</div>
<div class="col-md-8 mx-auto pt-5">
  <img class="blog-img" src="<%=Blog.img2Spot%>" alt="<%=Blog.dateSpot%>">
  <p style="white-space: pre-line" id="content"><%=Blog.contentSpot%></p>
  <h3>Bronnen</h3>
  <a href="<%=Blog.link1Spot%>"><%=Blog.link1Spot%></a>
  <a href="<%=Blog.link2Spot%>"><%=Blog.link2Spot%></a>
<!--  <div class="mt-5">-->
<!--<form class="delete-edit" action="/blog/spotlight/<%=Blog._id%>?_method=DELETE" method="POST">-->
<!--  <button class="btn btn-danger">Verwijderen</button>-->
<!--</form>-->
<!--  <a class="btn btn-warning" href="blog/spotlight/<%Blog._id%>/edit">Bewerken</a>-->
<!--</div>-->
<!--</div>-->

<% include partials/footer %>
